@model OfficialFinalProjectSem3.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { @class = "product-form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Thumbnails, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 uploaded">
            <button type="button" id="upload_widget" class="btn btn-primary">Upload files</button>
            @if (Model.GetThubnailIds().Length > 0)
            {
                <ul class="cloudinary-thumbnails">
                    @foreach (var imgId in Model.GetThubnailIds())
                    {
                        <li class="cloudinary-thumbnail active" img-cloudinary="@imgId">
                            <img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_60,w_90/v1587872991/" +imgId + ".jpg")">
                            <a href="#" class="cloudinary-delete">x</a>
                        </li>
                    }
                </ul>
               
            }

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CreatedAt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
        </div>
    </div>
    @if(Model.GetThubnailIds().Length > 0)
    {
        foreach(var imgId in Model.GetThubnailIds())
        {
            <input type="hidden" name="thumbnails[]" data-cloudinary-public-id="@imgId" value="@("image/upload/v1587872991/" + imgId + ".jpg")">
        }
    }
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    function showUploadWidget() {
        cloudinary.openUploadWidget({
            cloudName: "daaycakkk",
            uploadPreset: "hcgmdndc",
            sources: [
                "local",
                "url",
                "camera"
            ],
            form: ".product-form",
            fieldName: "thumbnails[]",
            thumbnails: '.uploaded',
            showAdvancedOptions: true,
            multiple: true,
        },
            (err, info) => {
                if (!err) {
                    console.log("Upload Widget event - ", info);
                }
            });
    }

    $('body').on('click', '.cloudinary-delete', function () {
        var splittedLink = $(this).prev().attr('src').split('/');
        var imgId = splittedLink[splittedLink.length - 1].split('.')[0];
        $(`input[data-cloudinary-public-id="${imgId}"]`).remove();
        $(`li[img-cloudinary="${imgId}"]`).remove();
        return false;
    });

    document.getElementById("upload_widget").addEventListener("click", function () {
        showUploadWidget();
    }, false);

</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
